---
import CodeBlock from "../components/CodeBlock.astro"
import MultiCol from "../components/MultiCol.astro"
import Slide from "../components/Slide.astro"
---

<Slide>
    <h4>Single Code Block</h4>
	<CodeBlock lang="javascript" lines="|1|2">
		{
			`
console.log('Hello there')
console.log('this is a sample code')
console.log("Here is a pretty long line of code - what happens?")
`.trim()
		}
	</CodeBlock>
</Slide>

<Slide>
    <h4>Twin Code Blocks</h4>
    <MultiCol>
        <div class="col">
            <CodeBlock lang="javascript">
                {
                    `console.log("ONE")`
                }
            </CodeBlock>
        </div>

        <div class="col">
            <CodeBlock lang="javascript">
                {
                    `console.log("TWO")`
                }
            </CodeBlock>
        </div>
    </MultiCol>
</Slide>