---
import Slide from "../components/Slide.astro"
import Key from "../components/Key.astro"
---
<Slide>
    <h4>Key Example</h4>

    <p>Let's see if this works: key <Key k="z" />
        (lower case&mdash;though that should be uppercased anyway?)
        or <Key k="Z" /> (upper case)</p>
</Slide>
