---
import MultiCol from "../components/MultiCol.astro"
import Col from "../components/Col.astro"
import Slide from "../components/Slide.astro"

import { Image } from 'astro:assets'

import img1 from "../img/S10/kal-1.png"
import img2 from "../img/S10/kal-2.png"
import img3 from "../img/S10/kal-3.png"
---
<Slide>
    <h4>Animation</h4>

    <ul><li>Because our rotation angle depends on the frame count,
        the final result is animated over time</li></ul>

	<MultiCol>
		<Col><Image src={img1} alt="" width="250" /></Col>
		<Col><Image src={img2} alt="" width="250" /></Col>
		<Col><Image src={img3} alt="" width="250" /></Col>
	</MultiCol>
</Slide>
